In [2]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.0-cp38-cp38-win_amd64.whl (9.4 MB)
     ---------------------------------------- 9.4/9.4 MB 3.1 MB/s eta 0:00:00
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     -------------------------------------- 233.8/233.8 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\loganlv\appdata\local\programs\python\python38\lib\site-packages (from statsmodels) (1.9.3)
Requirement already satisfied: numpy>=1.18 in c:\users\loganlv\appdata\local\programs\python\python38\lib\site-packages (from statsmodels) (1.23.3)
Requirement already satisfied: pandas>=1.0 in c:\users\loganlv\appdata\local\programs\python\python38\lib\site-packages (from statsmodels) (1.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\loganlv\appdata\local\programs\python\python38\lib\site-packages (from statsmodels) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\loganlv\appdata\local\programs\python\python38\lib\site-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\loganlv\appdata\local\programs\python\python38\lib\site-packages (from pandas>=1.0->statsmodels) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\loganlv\appdata\local\programs\python\python38\lib\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\loganlv\appdata\local\programs\python\python38\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.14.0

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
import statsmodels.api as sta

df = pd.read_csv("IBA6309 Week 1 Data.csv", encoding='gbk')
df.shape[0]

5000

In [3]:
# Q1 part 1: columns filled with numbers
number_col = ['age', 'instalments_amount', 'nominalrates', 'creditlevelasbuyer', 'numbercontact', 'numbercontact20s']
df.describe()[number_col]

,age,instalments_amount,nominalrates,creditlevelasbuyer,numbercontact,numbercontact20s
count,5000.000000,5000.00000,4997.000000,4031.000000,5000.000000,5000.000000
mean,27.675400,406201.42000,0.276058,53.119077,8.713000,7.092600
std,8.326146,130623.36024,0.085912,108.629757,23.833511,17.961619
min,18.000000,50000.00000,0.130080,0.000000,0.000000,0.000000
25%,21.000000,320000.00000,0.204560,0.000000,0.000000,0.000000
50%,25.000000,398000.00000,0.204579,14.000000,3.000000,3.000000
75%,32.000000,498000.00000,0.359347,58.000000,10.000000,8.000000
max,56.000000,869000.00000,0.494185,1830.000000,1169.000000,751.000000

In [7]:
# Q1 part 2: columns filled with categorical data
cata_col = ['gender', 'default', 'deal', 'highcontact', 'highcontact20s']
sum_table = df[cata_col].apply(pd.value_counts)
for i in sum_table.columns:
    print(sum_table[i].apply(lambda x: x / sum_table[i].sum()))
    print('')

False    0.8534
True     0.1466
Name: gender, dtype: float64

False    0.580499
True     0.419501
Name: default, dtype: float64

False    0.5586
True     0.4414
Name: deal, dtype: float64

False    0.5078
True     0.4922
Name: highcontact, dtype: float64

False    0.4978
True     0.5022
Name: highcontact20s, dtype: float64

In [ ]:
# Q2
data_Q2 = df.dropna(subset=['creditlevelasbuyer', 'default'], how='any')