In [3]:
import statsmodels.api as sa
from lifelines import CoxPHFitter
import datetime as dt
from stargazer.stargazer import Stargazer
import pandas as pd

In [4]:
ren = pd.read_excel('MDS6212 Week 2 Renrendai loans.xlsx', sheet_name='Data Borrower')
p2p = pd.read_excel('MDS6212  Week 2 p2p lending platforms.xlsx', sheet_name='Platform Data')

## Question 1

In [5]:
# renrendai numerical
ren_num = ren[['BIDS', 'AMOUNT', 'INTEREST', 'MONTHS', 'INCOME', 'AGE']]
ren_num.describe()

,BIDS,AMOUNT,INTEREST,MONTHS,INCOME,AGE
count,10000.000000,10000.000000,10000.000000,10000.00000,9998.000000,10000.000000
mean,24.150600,24545.835000,12.621900,12.23730,4.309162,34.755500
std,41.342608,38280.756524,2.273689,8.09109,1.335842,6.682708
min,1.000000,3000.000000,5.000000,3.00000,1.000000,24.000000
25%,9.000000,8000.000000,11.000000,6.00000,3.000000,30.000000
50%,15.000000,14400.000000,12.000000,12.00000,4.000000,33.000000
75%,24.000000,26000.000000,13.000000,12.00000,5.000000,38.000000
max,592.000000,500000.000000,24.400000,36.00000,7.000000,53.000000

In [6]:
# renrendai categorical
ren_cate = ren[['DEFAULT', 'CREDIT', 'HOUSE', 'CAR', 'HOUSE_L', 'CAR_L',\
    'EDUCATION', 'WORKTIME', 'INCOME', 'IND', 'CITY', 'PURPOSE', 'MARRY']]\
        .apply(pd.value_counts)
ren_cate

,DEFAULT,CREDIT,HOUSE,CAR,HOUSE_L,CAR_L,EDUCATION,WORKTIME,INCOME,IND,CITY,PURPOSE,MARRY
0.0,8487.0,NaN,4355.0,6083.0,7716.0,9178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,1513.0,4951.0,5645.0,3917.0,2284.0,822.0,2331.0,759.0,4.0,NaN,NaN,NaN,NaN
2.0,NaN,1701.0,NaN,NaN,NaN,NaN,3997.0,3588.0,93.0,NaN,NaN,NaN,NaN
3.0,NaN,2014.0,NaN,NaN,NaN,NaN,3346.0,2160.0,3378.0,NaN,NaN,NaN,NaN
4.0,NaN,530.0,NaN,NaN,NaN,NaN,322.0,3487.0,3015.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
黔东南,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN
黔南,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
黔西南,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN
齐齐哈尔,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN
龙岩,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN

In [7]:
# p2p numerical
p2p_num = p2p['RegCapital'].describe()
p2p_num

count     1000.000000
mean       596.064330
std       2328.221711
min          2.000000
25%        100.000000
50%        300.000000
75%        500.000000
max      50000.000000
Name: RegCapital, dtype: float64

In [8]:
# p2p categorical
p2p_cate = p2p[['Collapse', 'Benign', 'Fraud', 'Joinasso', 'Riskdeposit']]\
    .apply(pd.value_counts)
p2p_cate

     Collapse  Benign  Fraud  Joinasso  Riskdeposit
0.0       218     705    589       915          947
1.0       782      77    193        53           21

## Question 2

In [9]:
data_Q2 = ren.dropna(subset=['EDUCATION'], inplace = False)
data_Q2.dropna(subset=['WORKTIME'], inplace = True)
X_Q2 = data_Q2[['CREDIT', 'HOUSE', 'CAR', 'EDUCATION', 'WORKTIME']]
y_Q2 = data_Q2['DEFAULT']
X_Q2 = sa.add_constant(X_Q2)
logit = sa.Logit(y_Q2, X_Q2)
res = logit.fit()
res.summary()

Optimization terminated successfully.
         Current function value: 0.333754
         Iterations 9

/Users/ericlyu/opt/miniconda3/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                DEFAULT   No. Observations:                 9990
Model:                          Logit   Df Residuals:                     9984
Method:                           MLE   Df Model:                            5
Date:                Mon, 25 Sep 2023   Pseudo R-squ.:                  0.2151
Time:                        19:53:59   Log-Likelihood:                -3334.2
converged:                       True   LL-Null:                       -4247.9
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.7043      0.144     11.804      0.000       1.421       1.987
CREDIT        -1.8806      0.082    -22.836      0.000      -2.042      -1.719
HOUSE          0.1024      0.065      1.585      0.113      -0.024       0.229
CAR           -0.2748      0.069     -3.996      0.000      -0.410      -0.140
EDUCATION     -0.4583      0.040    -11.546      0.000      -0.536      -0.381
WORKTIME       0.0699      0.032      2.196      0.028       0.008       0.132
==============================================================================
"""

## Question 3

In [10]:
import numpy as np
X_Q3 = data_Q2[['CREDIT', 'HOUSE', 'CAR', 'EDUCATION', 'WORKTIME']]
y_Q3 = data_Q2['BIDS'].apply(np.log)
X_Q3 = sa.add_constant(X_Q3)
ols = sa.OLS(y_Q3, X_Q3).fit()
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   BIDS   R-squared:                       0.050
Model:                            OLS   Adj. R-squared:                  0.050
Method:                 Least Squares   F-statistic:                     105.3
Date:                Mon, 25 Sep 2023   Prob (F-statistic):          1.26e-108
Time:                        19:53:59   Log-Likelihood:                -12852.
No. Observations:                9990   AIC:                         2.572e+04
Df Residuals:                    9984   BIC:                         2.576e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.4227      0.035     68.983      0.000       2.354       2.492
CREDIT         0.0178      0.006      2.974      0.003       0.006       0.030
HOUSE          0.0240      0.019      1.266      0.205      -0.013       0.061
CAR            0.3067      0.019     16.057      0.000       0.269       0.344
EDUCATION     -0.0641      0.011     -5.858      0.000      -0.086      -0.043
WORKTIME       0.0861      0.009      9.374      0.000       0.068       0.104
==============================================================================
Omnibus:                      384.857   Durbin-Watson:                   1.678
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1199.263
Skew:                           0.001   Prob(JB):                    3.83e-261
Kurtosis:                       4.697   Cond. No.                         18.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Question 4

In [11]:
p2p_real = p2p[['Collapse', 'RegCapital', 'Capitaldeposit', 'Obtaininvest',\
    'Joinasso', 'Autobid', 'Transright', 'Riskdeposit', 'Thirdguarantee']]
p2p['OnlineTime_YMD_new'] = pd.to_datetime(p2p['OnlineTime_YMD'], format='%Y%m%d')
p2p['Bankrupt_WDZJ_new'] = pd.to_datetime(p2p['Bankrupt_WDZJ'], format='%Y%m%d')
p2p_real['Duration'] = (p2p['Bankrupt_WDZJ_new'] - p2p['OnlineTime_YMD_new'])\
    .dt.days

/Users/ericlyu/opt/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [12]:
p2p_real.dropna(how='any', inplace=True)
p2p_real = p2p_real[p2p_real['Duration'] != 0]
cox = CoxPHFitter()
cox.fit(p2p_real, 'Duration', event_col='Collapse')
cox.print_summary()

/Users/ericlyu/opt/miniconda3/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

<lifelines.CoxPHFitter: fitted with 764 total observations, 0 right-censored observations>
             duration col = 'Duration'
                event col = 'Collapse'
      baseline estimation = breslow
   number of observations = 764
number of events observed = 764
   partial log-likelihood = -4255.70
         time fit was run = 2023-09-25 12:08:36 UTC

---
                 coef  exp(coef)   se(coef)   coef lower 95%   coef upper 95%  exp(coef) lower 95%  exp(coef) upper 95%
covariate
RegCapital       0.00       1.00       0.00            -0.00             0.00                 1.00                 1.00
Capitaldeposit  -0.71       0.49       0.14            -0.99            -0.43                 0.37                 0.65
Obtaininvest    -0.34       0.71       0.27            -0.87             0.19                 0.42                 1.21
Joinasso        -0.59       0.56       0.22            -1.02            -0.15                 0.36                 0.86
Autobid         -0.23       0.79       0.09            -0.41            -0.05                 0.66                 0.95
Transright      -0.37       0.69       0.11            -0.59            -0.16                 0.55                 0.85
Riskdeposit     -0.21       0.81       0.28            -0.75             0.33                 0.47                 1.39
Thirdguarantee  -0.05       0.95       0.23            -0.50             0.40                 0.61                 1.49

                 cmp to     z      p   -log2(p)
covariate
RegCapital         0.00  0.06   0.95       0.07
Capitaldeposit     0.00 -5.02 <0.005      20.87
Obtaininvest       0.00 -1.26   0.21       2.26
Joinasso           0.00 -2.62   0.01       6.81
Autobid            0.00 -2.54   0.01       6.50
Transright         0.00 -3.39 <0.005      10.46
Riskdeposit        0.00 -0.76   0.45       1.15
Thirdguarantee     0.00 -0.21   0.83       0.26
---
Concordance = 0.62
Partial AIC = 8527.40
log-likelihood ratio test = 112.81 on 8 df
-log2(p) of ll-ratio test = 66.43